In [1]:
#NO. 1 : PERFORM EDA USING STATISTICAL METHOD
#IMPORT DATA CSV
import pandas as pd

df8 = pd.read_csv(r'C:\Users\Kong Gu An\LatihanPython_Dian\PROJECT KLY\sampleday8.csv',error_bad_lines=False)
df9 = pd.read_csv(r'C:\Users\Kong Gu An\LatihanPython_Dian\PROJECT KLY\sampleday9.csv',error_bad_lines=False)
df10 = pd.read_csv(r'C:\Users\Kong Gu An\LatihanPython_Dian\PROJECT KLY\sampleday10.csv',error_bad_lines=False)
df11 = pd.read_csv(r'C:\Users\Kong Gu An\LatihanPython_Dian\PROJECT KLY\sampleday11.csv',error_bad_lines=False)
df12 = pd.read_csv(r'C:\Users\Kong Gu An\LatihanPython_Dian\PROJECT KLY\sampleday12.csv',error_bad_lines=False)
df13 = pd.read_csv(r'C:\Users\Kong Gu An\LatihanPython_Dian\PROJECT KLY\sampleday13.csv',error_bad_lines=False)
df14 = pd.read_csv(r'C:\Users\Kong Gu An\LatihanPython_Dian\PROJECT KLY\sampleday14.csv',error_bad_lines=False)

b'Skipping line 19714: expected 19 fields, saw 24\n'
C:\Users\Kong Gu An\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
#UNION TABLE
union = pd.concat([df8, df9, df10, df11, df12, df13, df14], ignore_index=True)

print("DATA SAMPLE 5 TERATAS")
print(union.head())

print("\nDATA INFO")
print(union.info())

DATA SAMPLE 5 TERATAS
                                     id               browser_id  \
0  f4ce534f-33b8-406f-8166-cae233cf782b         facebook;304.0.0
1  dedcf32a-5885-415b-a13b-cd9b99cff168         facebook;236.0.0
2  721b00f3-e7d6-4e3f-b095-612c513b2158  chrome mobile;88.0.4324
3  22a6bbf6-aebe-46b1-b89e-c82d5a76cc47         chrome;88.0.4324
4  eaf614c0-3d1f-4bfd-9937-73d46d2c23ea         facebook;266.0.0

              os_id           domain_id              device_info_id  \
0         android;9  planet.merdeka.com    samsung;samsung sm-a105g
1        android;10        m.brilio.net        infinix;infinix x692
2        android;10          m.bola.com  generic;generic smartphone
3  mac os x;10.13.2           vidio.com                      ;other
4     android;8.1.0     m.kapanlagi.com              vivo;vivo 1820

                               visit_id                            visitor_id  \
0  17ede683-582b-4183-863c-a4ad15156bd7  7b5d1a5a-127c-4e65-b6d0-b0c58f6aa60a
1  454a18df-7fee-4a4b-bd3f-babc3eab5645  f71fab75-6152-4c4b-b46e-b722e0b7ea96
2  e1733c42-13c2-44e3-8cfa-31e6268048c3  b5420c19-94ca-4199-a458-23544521f686
3  3beee046-c179-4474-8788-a045e7b19d3b  b4950fa5-adb3-44e3-83e3-461a6c9d5f84
4  5eea7ae5-0a1f-435a-9416-a8f40167d753  16988038-8145-46f8-9064-73f1988ec329

      user_id  device_id  login_status  \
0         NaN        NaN         False
1         NaN        NaN         False
2         NaN        NaN         False
3  58041476.0        NaN          True
4         NaN        NaN         False

                                          user_agent     platform  \
0  Mozilla/5.0 (Linux; Android 9; SM-A105G Build/...   web-mobile
1  Mozilla/5.0 (Linux; Android 10; Infinix X692 B...   web-mobile
2  Mozilla/5.0 (Linux; Android 10; CPH1823) Apple...   web-mobile
3  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_2...  web-desktop
4  Mozilla/5.0 (Linux; Android 8.1.0; vivo 1820 B...   web-mobile

                                            referrer  \
0  https://planet.merdeka.com/selebrity/didesak-b...
1  https://m.brilio.net/foto/view/news/2020/07/16...
2  https://m.bola.com/ragam/read/4444325/12-arti-...
3    https://www.vidio.com/watch/1664967-episode-131
4  https://m.kapanlagi.com/foto/berita-foto/indon...

                       time                event_time connection  year  month  \
0  2021-02-08T17:04:32.000Z  2021-02-08T17:04:32.000Z        NaN  2021      2
1  2021-02-08T18:34:41.000Z  2021-02-08T18:34:41.000Z        NaN  2021      2
2  2021-02-08T15:16:42.000Z  2021-02-08T15:16:42.000Z        NaN  2021      2
3  2021-02-08T17:27:00.000Z  2021-02-08T17:27:00.000Z        NaN  2021      2
4  2021-02-08T20:51:09.000Z  2021-02-08T20:51:09.000Z        NaN  2021      2

   day
0    8
1    8
2    8
3    8
4    8

DATA INFO
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 393749 entries, 0 to 393748
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              393749 non-null  object
 1   browser_id      393749 non-null  object
 2   os_id           393749 non-null  object
 3   domain_id       393734 non-null  object
 4   device_info_id  393749 non-null  object
 5   visit_id        393749 non-null  object
 6   visitor_id      393749 non-null  object
 7   user_id         16898 non-null   float64
 8   device_id       0 non-null       float64
 9   login_status    393749 non-null  bool
 10  user_agent      393749 non-null  object
 11  platform        393749 non-null  object
 12  referrer        393735 non-null  object
 13  time            393749 non-null  object
 14  event_time      393749 non-null  object
 15  connection      13 non-null      object
 16  year            393749 non-null  int64
 17  month           393749 non-null  int64
 18  day             393749 non-null  int64
dtypes: bool(1), float64(2), int64(3), object(13)
memory usage: 54.4+ MB
None

In [3]:
#DROP COLOUMN WHICH DOESNT HAVE VALUES and HAVE MANY NULL'S
del union['device_id']
del union['connection']
print("TABLE INFO AFTER DELETING SOME COLUMNS")
print(union.info())

TABLE INFO AFTER DELETING SOME COLUMNS
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 393749 entries, 0 to 393748
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              393749 non-null  object
 1   browser_id      393749 non-null  object
 2   os_id           393749 non-null  object
 3   domain_id       393734 non-null  object
 4   device_info_id  393749 non-null  object
 5   visit_id        393749 non-null  object
 6   visitor_id      393749 non-null  object
 7   user_id         16898 non-null   float64
 8   login_status    393749 non-null  bool
 9   user_agent      393749 non-null  object
 10  platform        393749 non-null  object
 11  referrer        393735 non-null  object
 12  time            393749 non-null  object
 13  event_time      393749 non-null  object
 14  year            393749 non-null  int64
 15  month           393749 non-null  int64
 16  day             393749 non-null  int64
dtypes: bool(1), float64(1), int64(3), object(12)
memory usage: 48.4+ MB
None

In [4]:
#CHANGING COLUMN TIME AND EVENT TIME TO DATETIME TYPE
union['time'] = pd.to_datetime(union.time)
union['event_time'] = pd.to_datetime(union.event_time)
print("AFTER CHANGING THE TYPE OF 3 COLUMNS TO DATE TIME")
print(union.info())
print(union.head())

AFTER CHANGING THE TYPE OF 3 COLUMNS TO DATE TIME
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 393749 entries, 0 to 393748
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              393749 non-null  object
 1   browser_id      393749 non-null  object
 2   os_id           393749 non-null  object
 3   domain_id       393734 non-null  object
 4   device_info_id  393749 non-null  object
 5   visit_id        393749 non-null  object
 6   visitor_id      393749 non-null  object
 7   user_id         16898 non-null   float64
 8   login_status    393749 non-null  bool
 9   user_agent      393749 non-null  object
 10  platform        393749 non-null  object
 11  referrer        393735 non-null  object
 12  time            393749 non-null  datetime64[ns, UTC]
 13  event_time      393749 non-null  datetime64[ns, UTC]
 14  year            393749 non-null  int64
 15  month           393749 non-null  int64
 16  day             393749 non-null  int64
dtypes: bool(1), datetime64[ns, UTC](2), float64(1), int64(3), object(10)
memory usage: 48.4+ MB
None
                                     id               browser_id  \
0  f4ce534f-33b8-406f-8166-cae233cf782b         facebook;304.0.0
1  dedcf32a-5885-415b-a13b-cd9b99cff168         facebook;236.0.0
2  721b00f3-e7d6-4e3f-b095-612c513b2158  chrome mobile;88.0.4324
3  22a6bbf6-aebe-46b1-b89e-c82d5a76cc47         chrome;88.0.4324
4  eaf614c0-3d1f-4bfd-9937-73d46d2c23ea         facebook;266.0.0

              os_id           domain_id              device_info_id  \
0         android;9  planet.merdeka.com    samsung;samsung sm-a105g
1        android;10        m.brilio.net        infinix;infinix x692
2        android;10          m.bola.com  generic;generic smartphone
3  mac os x;10.13.2           vidio.com                      ;other
4     android;8.1.0     m.kapanlagi.com              vivo;vivo 1820

                               visit_id                            visitor_id  \
0  17ede683-582b-4183-863c-a4ad15156bd7  7b5d1a5a-127c-4e65-b6d0-b0c58f6aa60a
1  454a18df-7fee-4a4b-bd3f-babc3eab5645  f71fab75-6152-4c4b-b46e-b722e0b7ea96
2  e1733c42-13c2-44e3-8cfa-31e6268048c3  b5420c19-94ca-4199-a458-23544521f686
3  3beee046-c179-4474-8788-a045e7b19d3b  b4950fa5-adb3-44e3-83e3-461a6c9d5f84
4  5eea7ae5-0a1f-435a-9416-a8f40167d753  16988038-8145-46f8-9064-73f1988ec329

      user_id  login_status  \
0         NaN         False
1         NaN         False
2         NaN         False
3  58041476.0          True
4         NaN         False

                                          user_agent     platform  \
0  Mozilla/5.0 (Linux; Android 9; SM-A105G Build/...   web-mobile
1  Mozilla/5.0 (Linux; Android 10; Infinix X692 B...   web-mobile
2  Mozilla/5.0 (Linux; Android 10; CPH1823) Apple...   web-mobile
3  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_2...  web-desktop
4  Mozilla/5.0 (Linux; Android 8.1.0; vivo 1820 B...   web-mobile

                                            referrer  \
0  https://planet.merdeka.com/selebrity/didesak-b...
1  https://m.brilio.net/foto/view/news/2020/07/16...
2  https://m.bola.com/ragam/read/4444325/12-arti-...
3    https://www.vidio.com/watch/1664967-episode-131
4  https://m.kapanlagi.com/foto/berita-foto/indon...

                       time                event_time  year  month  day
0 2021-02-08 17:04:32+00:00 2021-02-08 17:04:32+00:00  2021      2    8
1 2021-02-08 18:34:41+00:00 2021-02-08 18:34:41+00:00  2021      2    8
2 2021-02-08 15:16:42+00:00 2021-02-08 15:16:42+00:00  2021      2    8
3 2021-02-08 17:27:00+00:00 2021-02-08 17:27:00+00:00  2021      2    8
4 2021-02-08 20:51:09+00:00 2021-02-08 20:51:09+00:00  2021      2    8

In [5]:
#STATISTIC DESCRIPTIVE
union[['year','month','day']].describe()

           year     month            day
count  393749.0  393749.0  393749.000000
mean     2021.0       2.0      11.000008
std         0.0       0.0       1.999999
min      2021.0       2.0       8.000000
25%      2021.0       2.0       9.000000
50%      2021.0       2.0      11.000000
75%      2021.0       2.0      13.000000
max      2021.0       2.0      14.000000

In [6]:
# MISSING VALUE PADA KOLOM USER_ID
length_user = len(union['user_id'])
print('Length kolom user_id:', length_user)

count_user = union['user_id'].count()
print('Count kolom count user_id:', count_user)

number_of_missing_values_user = length_user - count_user
float_of_missing_values_user = float(number_of_missing_values_user/length_user)
pct_of_missing_values_user = '{0:.1f}%'.format(float_of_missing_values_user*100)
print('Persentase missing value kolom user_id:', pct_of_missing_values_user)

Length kolom user_id: 393749
Count kolom count user_id: 16898
Persentase missing value kolom user_id: 95.7%

In [7]:
#PENGGUNAAN LIBRARY PROFILING TO PRODUCE AUTOMATIVE EDA
import pandas_profiling as pp
report = pp.ProfileReport(union)
report.to_file('profile_reportdf.html')

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=31.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(desc…