In [1]:
#start numpy dan pandas
import pandas as pd
import numpy as np

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([1,2,3])
d = {'a':1,'b':2,'c':3}

In [3]:
labels

['a', 'b', 'c']

In [4]:
my_list

[10, 20, 30]

In [5]:
arr

array([1, 2, 3])

In [6]:
d

{'a': 1, 'b': 2, 'c': 3}

In [7]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [8]:
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(arr)

0    1
1    2
2    3
dtype: int32

In [10]:
pd.Series(d)

a    1
b    2
c    3
dtype: int64

In [11]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(arr,labels)

a    1
b    2
c    3
dtype: int32

In [13]:
data = pd.Series(data=[10,20,30,40],index=['INA','JPN','KR','IND'])

In [14]:
data

INA    10
JPN    20
KR     30
IND    40
dtype: int64

In [15]:
data2 = pd.Series(data=[10,3,50,7],index=['INA','RUS','SNP','KR'])
data2

INA    10
RUS     3
SNP    50
KR      7
dtype: int64

In [16]:
data+data2

INA    20.0
IND     NaN
JPN     NaN
KR     37.0
RUS     NaN
SNP     NaN
dtype: float64